@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #007bff;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
/* START MAIN RULES */

body {
  background-color: var(--mainGrey);
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* END MAIN RULES */

/* START FORM CUSTOMAIZE */

.login {
  width: 400px;
  margin: 100px auto;
}

.login input {
  margin-bottom: 10px;
}

.login input.form-control {
  background-color: #eaeaea;
}

.login .btn {
  background-color: #0008dd;
}

/* END FORM CUSTOMAIZE */

/*******************************************************************/

/* START NAVBAR CUSTUOMIZE */

/* Start Editing Bootstrap */

.navbar-dark .navbar-brand {
  font-size: 1em;
}

nav .container div:last-child {
  justify-content: end;
}

.nav:last-child > .nav-item,
.nav:last-child > .nav-item .dropdown-menu {
  background-color: #3498db;
}

.nav:last-child > .nav-item > .nav-link,
.nav:last-child > .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
  font-size: 1em;
}

.nav:last-child > .nav-item .dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: unset;
  min-width: 13rem;
}

.nav:last-child > .nav-item .dropdown-menu .dropdown-item {
  padding: 0.5rem 1.25rem;
  transition: padding 0.4s ease;
}

.nav:last-child > .nav-item .dropdown-menu .dropdown-item:hover {
  color: #111;
  background-color: #fff;
  padding: 0.5rem 1.75rem;
}

/* End Editing Bootstrap */
/* END NAVBAR CUSTOMIZE */

/**************************************************************/
/*
  ======================= EDIT MEMEBER ===========================
*/

/* START FORM MEMEBER */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

h1 {
  font-size: 3.4rem;
  text-transform: uppercase;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.form-container form .group {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
}

.form-container form input[type="submit"] {
  width: 30%;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.form-container form input[type="password"],
.form-container form input[type="text"],
.form-container form input[type="email"] {
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-container form input[type="password"]:focus,
.form-container form input[type="text"]:focus,
.form-container form input[type="email"]:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.251);
  outline: 0;
}
/* END FORM MEMEBER */
