/* START MAIN RULES */

body {
  background-color: #eee;
  font-size: 16px;
}

/* END MAIN RULES */

/* START FORM CUSTOMAIZE */

.login {
  width: 400px;
  margin: 100px auto;
}

.login input {
  margin-bottom: 10px;
}

.login input.form-control {
  background-color: #eaeaea;
}

.login .btn {
  background-color: #0008dd;
}

/* END FORM CUSTOMAIZE */

/* START NAVBAR CUSTUOMIZE */

/* END NAVBAR CUSTOMIZE */
